.tit_news {
    text-align: center;
    color: #333;
    padding-top: 60px;
    font-size: 25px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 15px;
    text-transform: uppercase;
     padding-top: 0;
}
#sticky-social a {
    margin-bottom: 20px;
    text-decoration: none;
    color: #fff;
    display: block;
    height: 35px;
    font: 16px "Open Sans", sans-serif;
    line-height: 35px;
    position: relative;
    text-align: center;
    width: 51px;
}
#sticky-social a {
    margin-bottom: 20px;
    text-decoration: none;
    color: #fff;
    display: block;
    height: 35px;
    font: 16px "Open Sans", sans-serif;
    line-height: 35px;
    position: relative;
    text-align: center;
    width: 51px;
}
#sticky-social a {
    margin-bottom: 20px;
    text-decoration: none;
    color: #fff;
    display: block;
    height: 35px;
    font: 16px "Open Sans", sans-serif;
    line-height: 35px;
    position: relative;
    text-align: center;
    width: 51px;
}

 