.row{
    margin-top: 0px;
    margin-bottom: 40px;
    background: rgb(242, 242, 245);
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.text-center {
    text-align: center;
}
.list-inline {
    border-top: 1px solid #eee;
}
.list-inline {
    border-top: 1px solid #eee;
}
.list-inline {
    border-bottom: 1px solid #eee;
    margin-left: 20px;
    margin-right: 35px;
}
.text-center {
    text-align: center;
}
.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}
.text-center {
    text-align: center;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
ol, ul {
    list-style: none;
}
.list-inline li.active {
    background: #000;
}
.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
td, .list-inline > li {
    font-weight: bold;
    font-family: SF-display-regular;
}
td, .list-inline > li {
    font-weight: bold;
    font-family: SF-display-regular;
}
.list-inline li {
    padding: 10px 0;
}
.list-inline>li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

element.style {
    margin-left: 0px;
    margin-right: 0px;

}
.list-inline li.active a {
    color: #fff;
    border: none;
}
.list-inline li a {
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 0 10px;
    /* border-right: 1px solid #ebeced; */
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}
a {
    color: #202020;
    -webkit-transition: all .2s;
    transition: all .2s;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
